**Rationale** Perhaps the most important medium of communicating data-driven insights is through the construction of effective graphs. This assignment is designed for you to practice making some common types of graphs.

[Datasets](https://drive.google.com/open?id=1-oR65kkGk7TIzBtRGXVWhkeU1q7yIc-x&authuser=tul67796%40temple.edu&usp=drive_fs) required

1. [Rent the Runway item fit](https://drive.google.com/open?id=15UtPTWFea2YfU51SRrZJDyM4aI0YXVFU&authuser=tul67796%40temple.edu&usp=drive_fs)
1. [Orange Telecom customer churn](https://drive.google.com/open?id=15eDf_6pamH9GLA1PNMdOlF4YSYHu_zc8&authuser=tul67796%40temple.edu&usp=drive_fs)

# 1. (5 points) Bar Plot - Rent the runway dataset

For categories with at least 100 observations, plot the proportion of reviews that indicated that the item fits using a bar plot.

Answer these questions (see detailed prompt at end of section):

1. Which categories fit the best? Which categories fit the worst?
1. Does this bar plot confirm or reject your prior expectations? Explain.
1. How can you mitigate the fit issues?


**Follow each of the steps below**

In [13]:
from google.colab import drive
drive.mount('drive')

Drive already mounted at drive; to attempt to forcibly remount, call drive.mount("drive", force_remount=True).

In [14]:
# import the libraries you need: (pandas, matplotlib)
import os

In [51]:
# specify the folder in your Google MyDrive containing the datasets for this assignment
os.listdir('drive/MyDrive/marketing3509/')
os.listdir(fpath)
import os
import pandas as pd
fpath = 'drive/MyDrive/marketing3509/' # put your filepath here
os.listdir(fpath)

['Practice 8 31.ipynb',
 'A1 Emily Squillace',
 'A2 Emily Squillace',
 'Notes 9 9.ipynb',
 'Features data set.csv',
 'merged_sales.csv',
 'sales data-set.csv',
 'stores A data-set.csv',
 'stores B data-set.csv',
 'stores C data-set.csv',
 'stores data-set.csv',
 'avocado.csv',
 'avocado.json',
 'avocado (1).xlsx',
 'avocado.xlsx',
 'movies.csv',
 'ratings_time.csv',
 'quebec_biz (1).csv',
 'quebec_yelp_reviews (1).csv',
 'In Class Module 9 14.ipynb',
 'quebec_biz.csv',
 'quebec_yelp_reviews.csv',
 'A3 Emily Squillace.ipynb',
 'caliprices.png',
 'avocado_prices',
 'telecom_churn (1).csv',
 'renttherunway_final_data (1).json',
 'renttherunway_final_data.json',
 'telecom_churn.csv']

In [33]:
# read in file use read_json(fpath + 'rentherunway_final_data.json', lines = True)
# call the dataframe: rent

In [53]:
rent = pd.read_json(fpath + 'renttherunway_final_data.json', lines = True)

In [54]:
# preview the first 5 rows the dataset to get a sense of its contents
rent.head(5)

   fit  user_id bust size  item_id  ... height  size    age         review_date
0  fit   420272       34d  2260466  ...  5' 8"    14   28.0      April 20, 2016
1  fit   273551       34b   153475  ...  5' 6"    12   36.0       June 18, 2013
2  fit   360448       NaN  1063761  ...  5' 4"     4  116.0   December 14, 2015
3  fit   909926       34c   126335  ...  5' 5"     8   34.0   February 12, 2014
4  fit   151944       34b   616682  ...  5' 9"    12   27.0  September 26, 2016

[5 rows x 15 columns]

**Double click to edit** 

Fill in the blanks

* In the dataframe `rent`, one row represents the data for one Clothing Review

To construct a dataframe that has 1 row = 1 category and summarize the number of rows per category:

* Which variable should you groupby? ________________
* Which variable can you summarize? ________________
* Which summary function should you use? ________________

In [56]:
# execute the groupby to construct the desired dataframe (remember to add .reset_index() to the end of the groupby statement)
# call the resulting dataframe (assign to this variable): count100
rent = rent.groupby(['rented for', 'category'])['rating'].mean().reset_index()

In [57]:
# rename the columns to 'category' and 'obs'

rent

    rented for    category     rating
0         date      blazer   9.241379
1         date      blouse   9.137255
2         date     blouson   9.000000
3         date      bomber   9.500000
4         date        cami  10.000000
..         ...         ...        ...
351       work     trouser   9.250000
352       work    trousers   9.000000
353       work       tunic   9.333333
354       work  turtleneck   9.555556
355       work        vest   9.111111

[356 rows x 3 columns]

In [59]:
count100 = rent

In [60]:
count100

    rented for    category     rating
0         date      blazer   9.241379
1         date      blouse   9.137255
2         date     blouson   9.000000
3         date      bomber   9.500000
4         date        cami  10.000000
..         ...         ...        ...
351       work     trouser   9.250000
352       work    trousers   9.000000
353       work       tunic   9.333333
354       work  turtleneck   9.555556
355       work        vest   9.111111

[356 rows x 3 columns]

**Double click to edit**\
Fill in the blanks

To merge `cat100` and `rent`, we should use ____________ as the left dataframe and ____________ as the right dataframe.

We should merge on the variable _____________________

We will use an inner merge.

In [ ]:
# merge count100 with the rent, reuse the variable rent by replacing it with the result of the merge

In [ ]:
# preview rent dataframe to show that there's a new column: "obs"

In [ ]:
# what are the unique values in fit column? select the fit column and use the .unique() method

In [ ]:
# create a column in rent called 'fit1'

# first initialize the fit1 column where all observations in the column are 0's 
# modify the generic syntax df['column name'] = 0


# select the subset of fit1 column where fit column has the value "fit"
## e.g. select rows where fit column has the value 'fit' and the column 'fit1'
## set these rows of the fit1 column = 1 (modify the syntax df.loc[conditions, 'column name'] = 1)

In [ ]:
# sample 20 random rows of the rent dataframe, make sure the fit1 column corresponds
# to the correct rows as indicated by the fit column
# (run the code several times if you don't see any rows that indicate item did not fit (fit1 is 0))

In [ ]:
# Create a new dataframe, rent100, that is the subset of rows of rent that come from categories with at least 100 observations
# Modify the generic syntax newdf = olddf.loc[condition]

**Double click to edit** 

To construct a dataframe that has 1 row = 1 category and summarize the proportion of rental reviews that indicate the item from that category fits

* Which variable should you groupby? ________________
* Which variable can you summarize? ________________
* Which summary function should you use? ________________

In [ ]:
# execute the groupby
# (remember to add .reset_index() to the end of the groupby statement)
# call the resulting dataframe (assign to this variable): fit100

In [ ]:
# display the fit100 dataframe, make sure it contains the expected information
# e.g. category and proportion of fit

In [ ]:
# sort this fit100 dataframe from smallest to largest proportion
# be sure to specify the inplace = True option to alter the dataframe
# we need this step to make the resulting bar plot ordered from shortest 
# to tallest bar
# modify the generic syntax df.sort_values(by = 'sort column name', inplace = True)

In [ ]:
# display the resulting dataframe again to make sure it is properly sorted

In [ ]:
# construct the bar plot
# make the bar plot easy to read by:
# adjust the figure size
# x-axis labels degrees
# other appearance parameters

# MAKE SURE TO LABEL YOUR AXES

**Double Click to Edit**
1. The category that fit best is _______________________.
    1. The category that fit worst is _______________________.
1. (Explain why the plot makes (or doesn't make) sense. Write at least 4 sentences.)
1. Two strategies that can mitigate the fit issues are:
    1. (Explain first strategy)
    1. (Explain second strategy)

# 2. (5 points) Scatter plot - Orange Telecom

Create 2 plots: 

First, construct a scatter plot that visualizes the relationship between the number of calls made and the cost per call paid.

Second, construct a scatter plot that visualizes total minutes used and average rate paid per minute, use color to indicate churned customers.

Note that customer **churn** is the marketing term for a customer who has defected / ended the business relationship (cancelled their contract).

Be sure to:
1. **adjust the sizes / colors / transparency** of the points to be visually appealing.
1. Label your axes

Questions:
1. Describe the relationship between number of calls and cost per call.
    1. What might explain this relationship?
1. Describe any differences in the usage patterns among customers who have churned vs. those who have not?
    1. What might cause the(se) difference(s)?

**Follow the detailed prompts below**

In [ ]:
# read in your dataset using read_csv(fpath + 'telecom_churn.csv')
# call the dataframe orange

In [ ]:
# preview the first 5 rows to get a sense of this data

**Double click to edit**
Fill in the blank
1. Each row represents the data for one _______________________.

In [ ]:
# create 3 new columns:
# 'Total_Minutes': sum of total day, eve, night, and international minutes
# 'Total_Charges' sum of total day, eve, night, and international charges
# 'Total_Calls' sum of total day, eve, night, and international calls

In [ ]:
# create 2 additional columns
# 'Avg_Rate': the average charge per minute (use columns created above to help you make the new column)
# 'Cost_Per_Call': the average charge per call (use columns created above to help you make the new column)

In [ ]:
# Create the first scatter plot
# Use the x-axis for number of calls
# Use the y-axis for the cost per call
# Label both axes
# play with plotting parameters (size, alpha, figure size, etc.) to make the plot more appealing
# make the figure size 10 x 8

**Double Click to Edit**

Answers

1. (Describe the relationship between calls and cost per call)
    1. (Reason 1 for why this relatinship may exist)
    1. (Reason 2 for why this relationship may exist)

In [ ]:
## Create the second plot
# this figure requires making 2 plots on the same figure: one for churned, one for not 
# (e.g. select the rows that are churned (or not) and the appropriate column for the x and y values that go into the scatter plot function)
# Recall, you can select a subset of a particular column using the syntax: df.loc[conditions, 'column name']
# note the condition to select churned (not) customer should be orange.Churn == True (orange.Churn == False)

# make the churned group color red
# make the not churned group color green

# adjust the transparency, dot size, etc. to make the figure appealing
# CREATE A LEGEND, make sure the legend is legible
# make the figure size 10 x 8

**Double Click to Edit**

Answers

1. (Describe what kind of customers are especially likely to churn)
    1. (State a reason for why this may be the case)